{
    "presets": [
        [
            "@babel/preset-env", // 使用该规则进行文件处理
            {
                "targets": {
                    "node": "current",
                    "browsers": [ "ie >= 8", "chrome >= 62" ]
                }
            }
        ]
    ],
    "plugins": ["@babel/plugin-transform-runtime", "lodash"]
}